body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    transition: 0.5s ease;
}

header:hover{
    background-color: #c66565;
    color: #333;
    cursor: pointer;
}

input{
    border-radius: 5px;
    border-width: 0.5px;
    width: 100px;
    margin-top: 5px;
}

main{
    padding: 30px;
}

section{
    background-color: #fff;
    color: #333;
    padding: 8px 0;

}

footer{
    background-color: black;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

